{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omar Atef</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'portfilio/style.css' %}">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" style="color: blue;" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/about">About Me</a>
                <a class="nav-link" href="/skills">Skills</a>
                <a class="nav-link" href="/projects">Projects</a>
                <a class="nav-link" href="/contact">Contact Me</a>
            </div>
        </div>
    </div>
</nav>

<div class="text-center">

    <br>
    <h3>
        Hello There, My name is Omar Atef
    </h3>
    <p>I'm a student at Faculty of Computers and Artificial Intelligence <br>
        who is eager to learn new stuff
    </p>

    <img src="{% static 'res/pp.jpg' %}" alt="Avatar" style="width:350px;">

</div>
<footer>

    <center>
        <div class=" my-5 mx-2 text-center">
            <h4>Find Me On </h4>
            <a href="https://web.facebook.com/oatef.atef/" target="_blank" class="fa fa-facebook"></a>
            <a href="https://twitter.com/omarGAVAA" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/omar.ateff/" target="_blank" class="fa fa-instagram"></a>
            <a href="https://github.com/OmarAtef10" target="_blank" class="fa fa-github"></a>
            <a href="https://www.linkedin.com/in/omar-atef-3232808b/" target="_blank" class="fa fa-linkedin"></a>
        </div>
    </center>
</footer>
</body>
</html>