{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omar Atef</title>
    <link href="{% static 'portfilio/style1.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'portfilio/style.css' %}">

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<nav id="navbar" class="navbar fixed-top navbar-light bg-light px-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1" style="font-size: 80%">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2" style="font-size: 80%">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading3" style="font-size: 80%">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading4" style="font-size: 80%">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading5" style="font-size: 80%">Contact</a>
        </li>

    </ul>
</nav>

<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">


    <div class="card center" id="scrollspyHeading1">
        <br><br>

        <div class="card-header text-center">
            <h5>Home</h5>
        </div>
        <div class="card-body text-center">
            <div class="row">
                <div class="col ">
                    <br>
                    <h5 class="card-title">
                        Hello There, My name is Omar Atef
                    </h5>
                    <p class="card-text">I'm a student in the Faculty of Computers and Artificial Intelligence <br>
                        who is eager to learn new stuff</p>
                </div>
                <div class="col">
                    <br>
                    <img id="pp" src="{% static 'res/pp.jpg' %}" alt="Avatar"
                         style="width:325px; height: 350px; border-radius: 25%">
                </div>
            </div>
        </div>
    </div>


    <center>
        <div id="scrollspyHeading2" style="margin-top: 100px">

        <div class="card-header text-center" style="margin-left: 10px">
            <h5>About</h5>
        </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="card mx-2" style="width: 100%">
                        <div class="center">
                            <img src="{% static 'res/fc.png' %}" class="card-img-top" alt="..."
                                 style="height: 50%; width: 50%" id="pp">
                        </div>
                        <div class="card-body" id="uniCard">
                            <h5 class="card-title">Univeristy</h5>
                            <p class="card-text">Studying Computer Science at Faculty of Computers and Artficial
                                Intelligence -
                                Cairo University (FCAI) <br>
                                Currently in third grade with accumilative GPA of 3.35 (B+)
                            </p>
                            <a href="https://fci.cu.edu.eg/Home" target="_blank" class="btn btn-primary">FCAI
                                website</a>
                        </div>
                    </div>

                    <div class="card mx-2" style="width: 100%;" id="gitCard">
                        <div class="center">
                            <img src="{% static 'res/git.png' %}" class="card-img-top" alt="..."
                                 style="width: 69%; height: 69%">
                        </div>
                        <div class="card-body my-5">
                            <h5 class="card-title">Problem Solving</h5>
                            <br>
                            <p class="card-text">Over 500+ problems solved on problem solving websites as LeetCode,
                                HackerRank
                                and
                                CodeForces
                            </p>
                            <br> <br> <br>
                            <a href="https://github.com/OmarAtef10/problem-solving" target="_blank"
                               class="btn btn-primary">Github
                                Repo</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-2" style="width: 100%;" id="internCard">
                        <div class="center">
                            <img src="{% static 'res/Head office.jpg' %}" class="card-img" alt="..."
                                 style="height: 70%;width:69%;">
                        </div>
                        <div class="card-body my-5">
                            <h5 class="card-title">IT Intern</h5>
                            <p class="card-text">IT intern at National Bank of Egypt (NBE) - summer 2020
                            </p>
                            <a href="https://drive.google.com/file/d/1EwaJRWTAXZkkKfOazHDkBDbSQ7zYKCLY/view?usp=sharing"
                               target="_blank" class="btn btn-primary">Certificate</a>
                        </div>
                    </div>


                    <div class="card mx-2" style="width: 100%" id="psCard">
                        <div class="center">
                            <img src="{% static 'res/playstation5-ps5.gif' %}" class="card-img" alt="...">
                        </div>
                        <div class="card-body my-5">
                            <h5 class="card-title">Gaming</h5>
                            <p class="card-text">Since I love Gaming so i'd also include my Gamertag
                            </p>
                            <button type="button" class="btn btn-primary" onclick="myFunction()">Show GamerTag</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
    <div id="scrollspyHeading3" style="margin-top: 100px">

        <div class="card-header text-center" style="margin-left: 10px">
            <h5>Skills</h5>
        </div>
        <br>
        <div class="row">
            <div class="col">
                {#                <div class="collapse multi-collapse" id="multiCollapseExample1">#}
                <div class="card card-body">
                    <div class="align-left">
                        <h3>Technical Skills</h3>
                        <p><em>Programing languages</em></p>
                        <ul>
                            <li>
                                Java
                            </li>
                            <li>
                                Python
                            </li>
                            <li>
                                C++
                            </li>
                            <li>
                                JavaScript
                            </li>
                        </ul>

                        <p><em>Technologies and Frameworks</em></p>
                        <ul>
                            <li>
                                FrontEnd (HTML, CSS , JS)
                            </li>
                            <li>
                                BackEnd with Python Django
                            </li>
                            <li>
                                Node.js (Beginner)
                            </li>
                            <li>
                                Android With Java (Beginner)
                            </li>
                            <li>
                                Flutter (Beginner)
                            </li>
                        </ul>

                        <h3>Personal Skills</h3>
                        <p><em>Languages</em></p>
                        <ul>
                            <li>
                                English 👉🏼 Fluent
                            </li>
                            <li>
                                Arabic 👉🏼 Native
                            </li>
                            <li>
                                French 👉🏼 Beginner
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
            <div class="col">
                {#                <div class="collapse multi-collapse" id="multiCollapseExample2">#}
                <div class="card card-body">
                    <h3>
                        IEEE-CUSB (2021 - 2022)
                    </h3>
                    <p>Backend Instructor at IEEE-CUSB
                        mentored more than 50 students the baisics of JavaScript and Node.js
                    </p>
                    <h3>IMEU (2019 - 2020)</h3>
                    <p>Charity Commitee, Where we held events to help people in need
                        and helped with some charity organizations like resala
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="scrollspyHeading4" style="margin-top: 100px">

        <div class="card-header text-center" style="margin-left: 10px">
            <h5>Projects</h5>
        </div>
        <br>
        <center>
            <div class="container row  text-center">
                <div class="text-center">
                    <h4><em>Select Preferred Language / Framework</em></h4>
                </div>
                <div class="text-center container">
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target=".multi-collapse"
                                aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"
                                style="font-size: 100%">View All
                        </button>
                    </p>
                </div>
                <div class="col ">
                    <img src="{% static 'res/Java-Logo.png' %}" style="height: 100px;" class="btn"
                         data-bs-toggle="collapse" href="#multiCollapseExample6" role="button" aria-expanded="false"
                         aria-controls="multiCollapseExample1">

                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample6">
                            <div class="card card-body">
                                <div class="align-left">
                                    <ul>
                                        <li>
                                            <a class="projects" href="https://github.com/OmarAtef10/CarWorkshop"
                                               target="_blank">
                                                <strong> Car Workshop System (FreeLancing Project)</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="projects"
                                               href="https://github.com/OmarAtef10/OnDriver-Project"
                                               target="_blank">
                                                <strong>On Driver (Uber Backend Clone - Java SpringBoot)</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="projects" href="https://github.com/OmarAtef10/NBE-Queue"
                                               target="_blank">
                                                <strong>NBE Queue (Internship Project)</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="projects"
                                               href="https://github.com/OmarAtef10/CPU-Scheduling-JAVA"
                                               target="_blank">
                                                <strong>CPU Scheduling</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="projects" href="https://github.com/OmarAtef10/Disk-Scheduling"
                                               target="_blank">
                                                <strong>Disk Scheduling</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="projects"
                                               href="https://github.com/OmarAtef10/StandardHuffman_Compression-Decompression_JAVA"
                                               target="_blank">
                                                <strong>Huffman Compression / Decompression</strong>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="projects" href="https://github.com/OmarAtef10/problem-solving"
                                               target="_blank">
                                                <strong>Problem Solving</strong>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col my-3 mx-2">
                    <img src="{% static 'res/cpp.png' %}" style="height: 100px;" class="btn"
                         data-bs-toggle="collapse"
                         href="#multiCollapseExample7" role="button" aria-expanded="false"
                         aria-controls="multiCollapseExample1">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample7">
                            <div class="card card-body">
                                <div class="align-left">
                                    <ul>
                                        <li>
                                            <a class="projects"
                                               href="https://github.com/OmarAtef10/Social_Network_CPLUSPLUS_Demo"
                                               target="_blank">
                                                <strong>Social Network</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="projects"
                                               href="https://github.com/OmarAtef10/Dynamic-Programming-"
                                               target="_blank">
                                                <strong>Dynamic Programming</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="projects" href="https://github.com/OmarAtef10/problem-solving"
                                               target="_blank">
                                                <strong>Problem Solving</strong>
                                            </a>
                                        </li>
                                    </ul>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col my-3 mx-2">
                    <img src="{% static 'res/pyth.png' %}" style="height: 100px;" class="btn"
                         data-bs-toggle="collapse"
                         href="#multiCollapseExample3" role="button" aria-expanded="false"
                         aria-controls="multiCollapseExample1">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div class="card card-body">
                                <div class="align-left">
                                    <ul>
                                        <li>
                                            <a class="projects" href="https://github.com/OmarAtef10/Computer-Vision"
                                               target="_blank">
                                                <strong>Virtual Mouse (Computer Vision)</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="projects" href="https://github.com/OmarAtef10/portfoilio"
                                               target="_blank">
                                                <strong>Omar's Portfolio (Django)</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="projects" href="https://github.com/OmarAtef10/Web-Project"
                                               target="_blank">
                                                <strong>Online University System (Django)</strong>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col my-3 mx-2">
                    <img src="{% static 'res/and.png' %}" style="height: 100px;" class="btn"
                         data-bs-toggle="collapse"
                         href="#multiCollapseExample4" role="button" aria-expanded="false"
                         aria-controls="multiCollapseExample1">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample4">
                            <div class="card card-body">
                                <div class="align-left">

                                    <ul>
                                        <li>
                                            <a class="projects" href="https://github.com/OmarAtef10/miwok-app"
                                               target="_blank">
                                                <strong>Miwok App</strong>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col my-3 mx-2">
                    <img src="{% static 'res/fl.png' %}" style="height: 100px;" class="btn"
                         data-bs-toggle="collapse"
                         href="#multiCollapseExample5" role="button" aria-expanded="false"
                         aria-controls="multiCollapseExample1">

                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample5">
                            <div class="card card-body">
                                <div class="align-left">

                                    <ul>
                                        <li>
                                            <a class="projects"
                                               href="https://github.com/OmarAtef10/Final-task-DSC-Flutter-"
                                               target="_blank">
                                                <strong>ToDo List App</strong>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="projects"
                                               href="https://github.com/OmarAtef10/Flutter-Email-App"
                                               target="_blank">
                                                <strong>Email App</strong>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>

        <br>

    </div>
    <center>
        <!-- The actual snackbar -->
        <div id="snackbar">PSN: omaratef100</div>
    </center>

    <div id="scrollspyHeading5" style="margin-top: 100px">

        <div class="card-header text-center" style="margin-left: 10px">
            <h5>Contact</h5>
        </div>
        <br>
        <div class="container text-center" style="width: 80%">
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

            <p><h4>Why Won't You Send an Email 😉</h4></p>

            <form method="POST" class="contact-form">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                    {{ form.Username }}
                </div>


                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    {{ form.Email }}
                </div>


                <div class="input-group mb-3">
                    {{ form.Subject }}
                </div>

                <div class="input-group">
                    <span class="input-group-text" style="width: 50%;">Write Your<br>
                        Message Here 💁‍♂</span>
                    {{ form.Message }}
                </div>

                <input type="submit" value="Send Mail!" class="btn btn-primary contact__button"
                       style="margin-top: 20px"/>
            </form>
            <br><br>
        </div>
        <footer>

            <center>
                <div class=" my-5 mx-2 text-center">
                    <h4>Find Me On </h4>
                    <a href="https://web.facebook.com/oatef.atef/" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/omarGAVAA" target="_blank" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/omar.ateff/" target="_blank" class="fa fa-instagram"></a>
                    <a href="https://github.com/OmarAtef10" target="_blank" class="fa fa-github"></a>
                    <a href="https://www.linkedin.com/in/omar-atef-3232808b/" target="_blank"
                       class="fa fa-linkedin"></a>
                </div>
            </center>
        </footer>
    </div>
    <script src="{% static 'portfilio/snack.js' %}"></script>

    <script>
        ScrollReveal({reset: false});
        ScrollReveal().reveal('#scrollspyHeading1', {delay: 250, origin: screen});
        ScrollReveal().reveal('#scrollspyHeading2', {delay: 250, origin: screen});
        ScrollReveal().reveal('#scrollspyHeading3', {delay: 250, origin: screen});
        {#ScrollReveal().reveal('#scrollspyHeading4', {delay: 250, origin: screen});#}
        {#ScrollReveal().reveal('#scrollspyHeading5', {delay: 250, origin: screen});#}
    </script>

</div>
</body>
</html>